<!-- <div class="container">
  <h2>Modifier le Projet</h2>

  <label>Nom du projet:</label>
  <input type="text" [(ngModel)]="project.titre" class="form-control" />

  <label>Description:</label>
  <textarea [(ngModel)]="project.description" class="form-control"></textarea>

  <label>Date Début:</label>
  <input type="date" [(ngModel)]="project.dateDebut" class="form-control" />

  <label>Date Fin:</label>
  <input type="date" [(ngModel)]="project.dateFin" class="form-control" />

  <label>Image du Projet:</label>
  <input type="file" (change)="onFileSelected($event)" class="form-control" />

  <button (click)="updateProject()" class="btn btn-primary">
    Mettre à Jour
  </button>
</div> -->
