<div class="modifier-container">
  <h2>📝 Modifier le Projet</h2>

  <label>Nom du projet:</label>
  <input type="text" [(ngModel)]="project.titre" class="form-control" placeholder="Ex: Application E-learning" />

  <label>Description:</label>
  <textarea [(ngModel)]="project.description" class="form-control" rows="4" placeholder="Décrivez le projet..."></textarea>

  <label>Image du Projet:</label>
  <input type="file" (change)="onFileSelected($event)" class="form-control" />

  <img *ngIf="project.imageUrl" [src]="project.imageUrl" class="preview-img" alt="Preview Image" />

  <button (click)="updateProject()" class="btn btn-success mt-3">✅ Mettre à Jour</button>
</div>
