<section class="contact-section" id="contact">
  <div class="container">
    <h2 class="section-title">Contactez-nous</h2>

    <p class="section-description">
    Notre bureau comprend l'importance des changements économiques mondiaux et leurs impacts. Pour y faire face, 
    nous misons sur la qualité, la réduction des coûts et l’innovation. Nous nous appuyons sur nos compétences, 
    notre équipe expérimentée et des technologies modernes pour offrir des services efficaces et adaptés aux besoins du marché.
    </p>

    <div class="contact-layout">
      <div class="contact-details">
        <p><i class="fas fa-map-marker-alt"></i> Résidence Atlantic, IMM H, App.3 CYM - Rabat - Maroc</p>
        <p><i class="fas fa-envelope"></i> info@newtech.ma</p>
        <p><i class="fas fa-phone"></i> +212 537690030</p>
        <p><i class="fas fa-fax"></i> +212 537690033</p>
        <button class="contact-button" >Contactez-nous</button>
      </div>

      <div class="map-box">
        <iframe
          src="https://www.google.com/maps?q=33.967887,-6.837699&z=17&output=embed"
          width="100%"
          height="100%"
          style="border:0;"
          allowfullscreen=""
          loading="lazy">
        </iframe>
      </div>
    </div>
  </div>
</section>
